[Unit]
Description=Flask Application Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/flaskops
ExecStart=/usr/bin/python3 /home/ubuntu/flaskops/app.py
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
