[Unit]
Description=Flask Application Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/flaskops
Environment="PATH=/home/ubuntu/flaskops/venv/bin"
ExecStart=/home/ubuntu/flaskops/venv/bin/python /home/ubuntu/flaskops/app.py
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
