name: CI/CD Pipeline

on:
  push:
    branches:
      - main

env:
  AWS_REGION : "ap-south-1"

permissions:
  id-token: write
  contents: read


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    
    - name: Install Python dependencies 
      run: |
        python -m pip install --upgrade pip
        pip install -r app/requirements.txt
        pip install pytest  
    
    - name: Setup Terraform 
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.1.7"
    
    - name: "Print Terraform version"
      run: terraform --version
    
    - name: Setup Ansible
      uses: alex-oleshkevich/setup-ansible@VERSION
      with: 
        version: "9.3.0"

    - name: "Print Ansible version"
      run: ansible-playbook --version    
        
    - name: configure aws credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::703623468959:role/GitHubOIDC_FlaskOps
        role-session-name: sample-role
        aws-region: ${{ env.AWS_REGION }}


